@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reem+Kufi:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f2f2f2;
}

h1 {
  font-size: 120px;
  text-align: center;
  color: rgba(255, 255, 255, .4);
}

.parallax-1 {
  background: url('img3.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-2 {
  background: url('img1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-3 {
  background: url('img4.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-4 {
  background: url('img2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.parallax-inner {
  padding: 10% 0;
}

h2 {
  font-size: 32px;
  color: #555;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 20px 0 10px;
}

h3 {
  font-size: 22px;
  color: #555;
  text-align: justify;
  font-weight: 500;
  margin: 0 50px 40px;
}

p {
  font-size: 16px;
  color: #555;
  text-align: justify;
  line-height: 30px;
  margin: 0 90px 40px;
}

li {
  font-size: 16px;
  color: #555;
  text-align: justify;
  line-height: -10px;
  margin: 0 120px 10px;
}

p:nth-of-type(2),
p:nth-of-type(3) {
  margin: 40px 50px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 6vw;
    margin-top: 5vw;
  }

  h2 {
    font-size: 4vw;
  }

  h3 {
    font-size: 18px;
    margin: 0 10px 20px;
  }

  p,
  li {
    font-size: 14px;
    margin: 0 10px 20px;
  }

  .parallax-1,
  .parallax-2,
  .parallax-3,
  .parallax-4 {
    height: 30vh; 
  }
}